 <!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Menu</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li><a href="@Url.Action("Index", "Home")" class="waves-effect active"><i data-icon="&#xe01a;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu"> Home </span></a> </li>
            
            <li>
                <a href="" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Produtos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">

                    <li> <a href="@Url.Action("Index", "Categoria")"><i class=" fa-fw">R</i><span class="hide-menu">Cadastro de Categorias</span></a> </li>
                    <li> <a href="@Url.Action("Index", "Produto")"><i class=" fa-fw">T</i><span class="hide-menu">Cadastro de Produtos</span></a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Left navbar-header end -->